html{
    font-family:'Montserrat', sans-serif;
}

input{
  width: 272px;
height: 40px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #808080;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
color:#2E2F42;
text-align: center;
margin-bottom: 30px;
}

.start-btn {
    width: 75px;
    height: 40px;
    border-radius: 8px;
    background-color: #0037fe;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    padding: 0;
    cursor: pointer;
  }
  
  .start-btn:hover,
  .start-btn:active {
    background-color: #6C8CFF;
  }
  
  .start-btn:disabled {
    color: #ffffff;
    background-color: #b2b2b2;
    cursor: not-allowed;
  }
  
  .timer {
    display: flex;
    width: 390px;
    height: 72px;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .value {
    color: #000000;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
  
  .label {
    color: #2e2f42;
    font-size: 16px;
    text-transform: uppercase;
  }
  